*{
    padding: 0;
    margin: 0;
    font-weight: bold;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding-bottom: 90px;
}
.menu{
    top: 0;
    margin: 0;
    position: sticky;
    flex-direction: column;
    z-index: 3000;
    background-color: black;
}
.menu ul{
    list-style-type: none;
    font-size: small;
}
.menu li{
    display: inline-block;
    padding: 15px;
    color: white;
}
.menu li img{
    width: 25px;
}
.menu li:hover{
    color: rgb(184, 41, 184);
    font-weight: bold;
    cursor: pointer
}
.principal p{
    text-align: center;
    padding: 15px;
}
header{
    background-color: #181818;
    display: flex;
    position: relative;
    justify-content: center;
}
header #HeaderNoisify{
    width: 20rem;
    z-index: 2000;
    position: absolute;
}
header .fondo{
    overflow: hidden;
}
header .fondo .carrusel{
    display: flex;
    flex-wrap: nowrap;
    z-index: 1000;
}
header .fondo .carrusel{
    display: flex;
    height: 100%;
}
header .fondo .carrusel img{
    width: 20%;
    padding: 3px;
    filter:brightness(60%);
    flex-shrink: 0;
    object-fit: cover;
    display: inline-block;
    border-radius: 10px;
    opacity: 0.8;
}
.Tops{
    background-color: #111;
    border-radius: 10px;
    width: 99%;
    margin: auto;
}
h4{
    font-weight: lighter;
    font-size: 15px;
}
.TopEspañol,
.TopPop,
.TopRock{
    display: flex;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
}
.TopEspañol h2,
.TopPop h2,
.TopRock h2{
    flex-basis: 100%;
    margin-left: 125px;
    margin-top: 50px;
}
.album{
    background-color: #181818;
    padding: 20px;
    width: 290px;
    border-radius: 10px;
    text-align: center;
    color: white;   
}
.album img{
    width: 100%;
    border-radius: 8px;
}
.album h4{
    padding: 4px;
}
.album:hover{
    background-color: #282828;
    transform: scale(1.05);
    transition: 0.3s;
}
footer{
    position: fixed;
    font-size: 14px;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 20px 30px;
    align-items: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}   
footer .Redes img{
    height: 27px;
    padding: 3px;
    border-radius: 6px;
}
.Redes:hover{
    cursor: pointer;
}
footer .Noisify img{
    height: 60px;
}
.Contactanos{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.Contactanos .p{
    font-size: small;
}

@media screen and (max-width: 1024px){
    /* Para tablets */

    header #HeaderNoisify {
        width: 10rem;   
    }
    header #HeaderNoisify img{
        margin-bottom: 20px;
    }
    .TopEspañol,
    .TopPop,
    .TopRock{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
        padding: 17px;
    }
    .album{
        width: 130px;
        padding: 15px;
    }
    footer{
        height: auto;
        padding: 10px;
        align-items: center;
        gap: 10px;
    }
    footer p{
        font-size: 12px;
    }
}

@media screen and (max-width: 743px){
    /* Para móviles */

    header #HeaderNoisify{
        width: 8rem;
        margin-bottom: 10px;
    }

    header .fondo .carrusel img{
        width: 27%;
    }
    .Tops{
        width: 100%;
        padding: 20px;
    }
    .scroll{
        padding: 0;
    }
    .TopEspañol,
    .TopPop,
    .TopRock {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x proximity;
        justify-content: flex-start;
    }
    .TopEspañol::-webkit-scrollbar,
    .TopPop::-webkit-scrollbar,
    .TopRock::-webkit-scrollbar {
        display: none;
    }
    .TopEspañol h2,
    .TopPop h2,
    .TopRock h2 {
        flex-basis: 100%;
    }
    .album{
        width: 100%;
        max-width: 280px;
        margin-bottom: 15px;
        flex-shrink: 0;
        scroll-snap-align: start;
    }
    footer{
        padding: 3px 15px;
        gap: 7px;
    }
    footer .Contactanos p{
        font-size: 10px;
        padding: 5px;
    }
}
