*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.884);
    color: rgb(172, 54, 226);
}
menu{
}
.menu ul{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding: 15px;
}