*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-family: sans-serif;
}
#menu-desplegable{
    display: none;
}
.menu-icono{
    position: fixed;
    top: 15px;
    left: 15px;
    transform: rotate(-90deg);
    cursor: pointer;
    font-size: 24px;
    z-index: 2000;
    transition: transform 0.4s ease;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    transition: width 0.4s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
#menu-desplegable:checked ~ .menu{
    width: 220px;
}
#menu-desplegable:checked + .menu-icono{
    transform: rotate(-180deg);
}
#menu-desplegable:checked ~ .menu a{
    opacity: 1;
}
.menu ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    font-size: small;
}
.menu li{
    display: inline-block;
    padding: 15px;
    color: white;
}
.menu li img{
    width: 25px;
}
.menu li:hover{
    color: rgb(184, 41, 184);
    font-weight: bold;
    cursor: pointer
}
.principal{
    text-align: center;
    padding: 15px;
}
.principal img{
    width: 50px;
}
.principal p{
    font-size: small;
}
.principal h1{
    padding: 15px;
}
.TopEspañol{
    display: flex;
    gap: 30px;
    width: 80%;
    margin: auto;
    margin-left: 160px;
    padding: 30px;
    background-color: #111;
    border: solid rgb(189, 164, 51) 2px;
    border-radius: 5px;
    flex-wrap: wrap; 
    justify-content: center;
}
h2{
    color: rgb(211, 180, 42);
    margin-left: 150px;
    margin-bottom: 20px;
}
.album{
    background-color: #181818;
    padding: 15px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border: solid white 2px;
}
.album img{
    width: 100%;
    border-radius: 8px;
}
.album h4{
    padding: 4px;
}
.album:hover{
    background-color: #282828;
    transform: scale(1.05);
    transition: 0.3s;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    align-items: center;
}   
footer img{
    height: 30px;
    padding: 3px;
    border-radius: 6px;
}
.Redes:hover{
    cursor: pointer;
}
.Contactanos{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.Contactanos .p{
    font-size: small;
}
@media (max-width: 480px){
    .TopEspañol{
        padding: 15px;
        gap: 15px;
    }

    h2{
        font-size: 1.2rem;
    }

    footer{
        height: auto;
        padding: 10px;
    }
}
@media (max-width: 768px){
    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu li{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}